{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    <title>{% block title %}SIGI{% endblock %}</title>
</head>
<body class="font-sans bg-gray-100 min-h-screen">
    <div class="flex w-full">

        {% include "sidebar.html" %}

        <main class="flex-1 m-0 p-0">
            {% block content %}
            {% endblock %}
        </main>

    </div>
<script src="https://unpkg.com/lucide@latest" defer></script>
<script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>