<div class="flex">

    <aside class="w-64 bg-base-100 border-r border-base-300 min-h-screen p-4">

        <div class="mb-6 pb-4 border-b border-base-300 flex flex-col items-center text-center">
            <h1 class="text-xl font-bold">SIGI</h1>
            <p class="text-sm text-base-content/60">Free</p>
        </div>

        <ul class="menu w-full">
            <li class="py-1">
                <a  href="{% url 'home' %}"
                    class="
                    {% if request.path == '/' %}
                        bg-black text-white
                    {% endif %}">
                    Inicio
                </a>
            </li>
            <li>
                <details {% if 'product' in request.path or 'category' in request.path %}open{% endif %}>
                    <summary class="w-full px-4 py-2 cursor-pointer">Inventario</summary>
                    <ul>
                        <li class="py-1">
                            <a href="{% url 'category' %}" class="
                                {% if 'category' in request.path %}
                                    bg-black text-white
                                {% endif %}">
                                Categorías
                            </a>
                        </li class="py-1">
                        <li>
                            <a href="{% url 'product' %}" class="
                                {% if 'product' in request.path %}
                                    bg-black text-white
                                {% endif %}">
                            Productos
                        </a></li>
                    </ul>
                </details>
            </li>
            <li class="py-1">
                <a class="w-full px-4 py-2 rounded-lg transition">
                    Ventas
                </a>
            </li>

        </ul>
    </aside>
    <main class="flex-1 p-6">
    </main>

</div>